head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Coq Trotteur - Plateforme d'administration office
    meta(name='description', content="")
    meta(name='Keywords', content='')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    //-link(href="/css/app.css", rel="stylesheet", type="text/css")
    include ../build/css-manifest
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="apple-touch-icon", sizes="192x192", href="android-chrome-192x192.png")
    link(rel="apple-touch-icon", sizes="384x384", href="android-chrome-384x384.png")
    base(href='/')
    